* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

a,
a:visited {
    color: #000;
    text-decoration: none;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}



.header img {
    margin-top: 18px;
    max-height: 45vh;
    height: 200px;
    width: auto;
}

h1,
h2,
h3 {
    font-family: "jomolhari", 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: -35px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-family: "encode sans", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.875rem;
    margin: 15px;
    padding: 0px 10vw;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #fefce8;
}

.about img {
    border-radius: 80%;
    margin-top: 18px;
    max-height: 45vh;
    height: 200px;
    width: auto;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #404040;
    color: white;
}

#missionIcon {
    margin-top: 30px;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    min-height: 100vh;
    width: 100vw;
    background-color: #fafaf9;

}

.explore img {
    max-width: 300px;
    width: 80vw;
    height: auto;
    border: 1px solid #000;
}

footer {
    background-color: #fafaf9;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
}

@media (min-width: 640px) {

    p {
        font-size: 1.05rem;
        margin: 15px;
        padding: 0px 30vw;
    }

}
